fastapi
uvicorn
python-multipart
pypdf2
pytesseract
pdf2image
Pillow
docx2txt
chromadb
sentence-transformers
google-genai
python-docx
langchain
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
PyMuPDF
qdrant-client
scikit-image
matplotlib
torch
torchvision